
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<section>
<div class="container-fluid ">

<div style='width: 800px;'>
  
</div> 
</div>

</section>

<section class="pt-30 pb-35">
  <div class="container">
    <div>
      <header class="text-center">
        <h1 class="header">Customers geolocation</h1>
        <p>Click on the marker to display infobox.</p>
      </header>
      <hr />
      <div class="row">
        <div class="col-lg-1 col-md-6 text-center">
         
        </div>
       
        <div class="col-lg-10 col-md-6 text-center">
          <div id="map" style='width: 950px; height: 950px;'></div>
        </div>
        <div class="col-lg-1 col-md-6 text-center">
          
        </div>
      </div>
    </div>
  </div>
</section>

<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
         mapInitialisation();
    })

    function mapOptions(){
        return {
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_CENTER
            },
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            scaleControl: true,
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            },
            fullscreenControl: true
        }
    }

    function mapInitialisation(){

            handler = Gmaps.build('Google');
            handler.buildMap({
                provider: {
                disableDefaultUI: true
                },
                internal: {
                id: 'map'
                }
            },
            function(){
                
                // markers = handler.addMarkers([
                // {
                //     "lat": 46.0632019,
                //     "lng": -70.9386751,
                    
                //     "picture": {
                //     "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
                //     "width":  32,
                //     "height": 32
                //     },
                //     "infowindow": "hello!"
                // }
                // ]);
                var mapCenter = {
                    "lat": 43.15179,
                    "lng": -70.932065,
                }
                
                handler.fitMapToBounds();
                handler.getMap().setOptions(mapOptions())
                handler.getMap().setZoom(6)
                handler.getMap().setCenter(mapCenter)
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
            }
        );

            

    }
    
</script>
