
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<section>
<div class="container-fluid ">

<div style='width: 800px;'>
  
</div> 
</div>

</section>

<section class="pt-30 pb-35">
  <div class="container">
    <div>
      <header class="text-center">
        <h1 class="header">A more personalized experience</h1>
        <p>We put you and your users at the center of everything we do.</p>
      </header>
      <hr />
      <div class="row">
        <div class="col-lg-1 col-md-6 text-center">
         
        </div>
       
        <div class="col-lg-10 col-md-6 text-center">
          <div id="map" style='width: 950px; height: 950px;'></div>
        </div>
        <div class="col-lg-1 col-md-6 text-center">
          
        </div>
      </div>
    </div>
  </div>
</section>


<script> 
    handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
      {lat: 28.0, lng: 76.2},
            {lat: 28.38, lng: 77.82},
            {lat: 28.98, lng: 76.19},
            {
                lat: 28.63, lng: 77.13, infowindow: 'Your location',
                picture: {
                    url: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                    width: 36,
                    height: 36
                }
            },
            {lat: 29.0, lng: 78.17},
            {lat: 28.44, lng: 76.48}
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


  var markers = handler.addMarkers([
          
        ]);
        handler.bounds.extendWith(markers);
        handler.map.centerOn({lat: 28.63, lng: 77.13})
    });